@import "../../../../styles/global";

.container {
    width: 100%;
    height: 100%;
    background: $brand-primary-light;
    @include display-flex(flex,column);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
}

.body {
    color: white;
    font-size: 18px;
}