$theme-primary-main: rgb(43, 78, 123);
$brand-primary-light: #065fe5;
$theme-primary-dark: #4b4a4a;
$theme-primary-lighter: #f3f7fd;
$theme-gray: #eeeeee;

.brand-bg-main {
  background-color: $theme-primary-main;
}

.brand-bg-lighter {
  background-color: $theme-primary-lighter;
}

.brand-color-main {
  color: $theme-primary-main
}

.brand-color-light {
  color: $brand-primary-light
}

.brand-text-gray {
  color: $theme-gray;
}

.uppercase {
    text-transform: uppercase;
}