@import './colors';
@import './mixin';


.font-bold {
    font-weight: 700;
}

.border-r {
    border-right: 1px solid  #ebebeb;
}

.border-l {
    border-left: 1px solid  #ebebeb;
}

.items-center {
    align-items: center;
}

.pt-1 {
    padding-top: .25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-sm {
    font-size: .875rem;
}

.ml-100px {
    margin-left: 100px;
}

.list-inline {
    li {
        display: inline;
        margin-bottom: 0px;
        @include display-flex(flex);
        justify-content: center;
        align-items: center;
    }
}

.d-center {
    @include display-flex(flex);
    align-items: center;
}

.w-80 {
    width: 80%;
}

.relative {
    position: relative;
}

.decoration-none {
    text-decoration: none;
    list-style-type: none;
}

.separator {
    height: 1.25rem;
    background-color: rgba(25,51,90,1);
    margin-left: .5rem;
    margin-right: .5rem;
    width: 1px;
    opacity: .25;
    @media only screen and (min-width: 1024px) {
        margin-left: .75rem;
        margin-right: .75rem;
    }
}

.weight-700 {
    font-weight: 700;
}