//add more mixins as the project demands

@mixin display-flex($flex:flex, $flex-direction: row, $flex-wrap: wrap) {
    display: $flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin d-none-1024px() {
    @media only screen and (max-width: 1024px) {
        display: none;
    }
}

@mixin d-block-1024px() {
    @media only screen and (max-width: 1024px) {
        display: block;
    }
}