@import "../../../../styles/global";

.container {
  width: 100%;
  padding: 10px;
}

.nextButton {
  height: 50px;
  width: 100%;
  margin-bottom: 4px;
}

.title {
  margin-bottom: 25px;
  margin-top: 60px;
  @media only screen and (max-width: 1024px) {
    margin-bottom: 10px;
    margin-top: 15px;
}
}

.textBlue {
  color: $brand-primary-light;
  cursor: pointer;
  margin-left: 4px;
  a{
    text-decoration: none;
  }
}

.bottomText {
  font-size: 12px;
  margin-top: 5px;
}